:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px) {
  img {
    display: none;
  }
  .row {
    text-align: center !important;
  }
  .mb-3 {
    text-align: center !important;
  }
  h1 {
    font-size: 60px !important;
  }
  h2 {
    font-size: 40px;
  }
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.row {
  display: flex;
  margin-bottom: 24px;
  flex-wrap: wrap;
  text-align: left;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.mb-3 {
  margin-bottom: 1rem !important;
  text-align: left;
}
.container {
  margin-top: 60px;
}
.description {
  margin-top: 20px !important;
  margin-left: 10px;
  margin-right: 10px;
}
